<html>
<head>
    <meta charset="UTF-8">
    <title>补充信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
    <link rel="stylesheet" type="text/css" href="/static/style/apply2.css">

</head>
<body>

<div class="container apply2 apply2_next" v-cloak>
    <ul>
        <div class="line"></div>
        <li>
            <i class="count">1</i>
            <div id="trigger2">
                <span class="sub_name">名下房产类型</span>
                <input type="" name="" placeholder="请选择" readonly v-model='user.house.name'>
               <!--  <i class="icon"></i> -->
            </div>
            <article v-show="user.house.name == '商品住宅' || user.house.name == '商铺' || user.house.name == '商住两用房'">
                <div id="triggerHouse2">
                    <span class="sub_name">全款房/按揭房</span>
                    <input type="" name="" placeholder="请选择" readonly v-model='user.house.value3'>
                    <i class="icon"></i>
                </div>

                <div v-show="user.house.value3 == '按揭房'">
                    <span class="sub_name">月还款额度</span>
                    <input type="" name="" placeholder="请输入" v-model='user.house.value4'>
                    <span class="title">万元</span>
                </div>
                <div v-show="user.house.value3 == '按揭房'">
                    <span class="sub_name">已还期数</span>
                    <input type="" name=""  placeholder="请输入" v-model='user.house.value5'>
                    <span class="title">个月</span>
                </div>
            </article>
        </li>
        
    </ul>
    <div class="next_btn" @click="nextStep">
        提交
    </div>
</div>


<script type="text/javascript"  src="/dist/apply_next.js?v=1111111111111"></script>
</body>
</html>