<html>
<head>
    <meta charset="UTF-8">
    <title>精准推荐贷款</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
    <link rel="stylesheet" type="text/css" href="/static/style/apply2.css">

</head>
<body>

<div class="container apply2" v-cloak>
    <img src="static/images/apply2_banner.jpg">
    <ul>
        <div class="line"></div>
        <li class="first">
            <i class="count">1</i>
            <div>
                <span class="sub_name">贷款额度</span>
                <input type="" name="" placeholder="请输入" v-model='user.amount'>
                <span class="title">万元</span>
            </div>

        </li>
        <li>
            <i class="count">2</i>
            <div id="trigger1">
                <span class="sub_name">职业身份</span>
                <input type="" name="" placeholder="请选择" readonly v-model='user.profession.name'>
                <i class="icon"></i>
            </div>
            <article v-show="user.profession.name == '上班族'">
                <div id="triggerProfession1">
                    <span class="sub_name">收入形式</span>
                    <input type="" name="" placeholder="请选择" readonly v-model='user.profession.value1'>
                    <i class="icon"></i>
                </div>
                <div>
                    <span class="sub_name">月收入</span>
                    <input type="" name="" placeholder="请输入" v-model='user.profession.value2'>
                    <span class="title">万元</span>
                </div>
                <div id="triggerProfession2">
                    <span class="sub_name">单位类型</span>
                    <input type="" name="" placeholder="请选择" readonly v-model='user.profession.value3'>
                    <i class="icon"></i>
                </div>
                <div>
                    <span class="sub_name">当前单位工龄</span>
                    <input type="" name="" placeholder="请输入"  v-model='user.profession.value4'>
                    <span class="title">个月</span>
                </div>
            </article>
            <article v-show="user.profession.name == '企业主'">
                <div>
                    <span class="sub_name">年销售</span>
                    <input type="" name="" placeholder="请输入" v-model='user.profession.value5'>
                    <span class="title">万元</span>
                </div>
                <div>
                    <span class="sub_name">年开票</span>
                    <input type="" name="" placeholder="请输入" v-model='user.profession.value6'>
                    <span class="title">万元</span>
                </div>
                <div>
                    <span class="sub_name">年缴税额</span>
                    <input type="" name="" placeholder="请输入" v-model='user.profession.value7'>
                    <span class="title">万元</span>
                </div>
                <div>
                    <span class="sub_name">设备估值</span>
                    <input type="" name=""  placeholder="请输入" v-model='user.profession.value8'>
                    <span class="title">万元</span>
                </div>
                <div id="triggerProfession3">
                    <span class="sub_name">营业执照时间</span>
                    <input type="" name="" placeholder="请选择" readonly v-model='user.profession.value9'>
                    <i class="icon"></i>
                </div>
                <div id="triggerProfession4">
                    <span class="sub_name">下游企业类型</span>
                    <input type="" name="" placeholder="请选择"  readonly v-model='user.profession.value10'>
                    <i class="icon"></i>
                </div>
                 <div id="triggerProfession5">
                    <span class="sub_name">Pos机流水</span>
                    <input type="" name="" placeholder="请选择"  v-model='user.profession.value11'>
                    <i class="icon"></i>
                </div>
            </article>
            <article v-show="user.profession.name == '自由职业'">
                <div>
                    <span class="sub_name">月收入</span>
                    <input type="" name="" placeholder="请输入" v-model='user.profession.value12'>
                    <span class="title">万元</span>
                </div>
            </article>
        </li>
        <li>
            <i class="count">3</i>
            <div id="trigger2">
                <span class="sub_name">名下房产类型</span>
                <input type="" name="" placeholder="请选择" readonly v-model='user.house.name'>
                <i class="icon"></i>
            </div>
            <article v-show="user.house.name == '商品住宅' || user.house.name == '商铺' || user.house.name == '商住两用房'">
                <div id="triggerHouse1">
                    <span class="sub_name">房龄</span>
                    <input type="" name="" placeholder="请选择" readonly v-model='user.house.value1'>
                    <i class="icon"></i>
                </div>
                <div>
                    <span class="sub_name">房产估值</span>
                    <input type="" name="" placeholder="请输入" v-model='user.house.value2'>
                    <span class="title">万元</span>
                </div>
<!--                 <div id="triggerHouse2">
                    <span class="sub_name">全款房/按揭房</span>
                    <input type="" name="" placeholder="请选择" readonly v-model='user.house.value3'>
                    <i class="icon"></i>
                </div>

                <div v-show="user.house.value3 == '按揭房'">
                    <span class="sub_name">月还款额度</span>
                    <input type="" name="" placeholder="请输入" v-model='user.house.value4'>
                    <span class="title">万元</span>
                </div>
                <div v-show="user.house.value3 == '按揭房'">
                    <span class="sub_name">已还期数</span>
                    <input type="" name=""  placeholder="请输入" v-model='user.house.value5'>
                    <span class="title">个月</span>
                </div> -->
            </article>
            <article v-show= " user.house.name == '自建房/宅基地' || user.house.name == '划拨土地房' || user.house.name == '厂房' ">
                <div>
                    <span class="sub_name">房产估值</span>
                    <input type="" name="" placeholder="请输入" v-model='user.house.value6'>
                    <span class="title">万元</span>
                </div>
            </article>
        </li>
        <li>
            <i class="count">4</i>
            <div id="trigger3">
                <span class="sub_name">是否有公积金</span>
                <input type="" name=""  placeholder="请选择" readonly v-model='user.provident.name'>
                <i class="icon"></i>
            </div>
<!--             <article v-show="user.provident.name == '是,有本地公积金'">
                <div >
                    <span class="sub_name">公积金连续缴存时间</span>
                    <input type="" name="" placeholder="请输入" v-model='user.provident.value1'>
                    <span class="title">个月</span>
                </div>
            </article> -->
        </li>
        <li>
            <i class="count">5</i>
            <div id="trigger4">
                <span class="sub_name">是否有社保</span>
                <input type="" name="" placeholder="请选择" readonly v-model='user.social.name'>
                <i class="icon"></i>
            </div>
<!--             <article v-show="user.social.name == '是,有本地社保'">
                <div >
                    <span class="sub_name">社保连续缴存时间</span>
                    <input type="" name="" placeholder="请输入" v-model='user.social.value1'>
                    <span class="title">个月</span>
                </div>
            </article> -->
        </li>
        <li>
            <i class="count">6</i>
            <div id="trigger5">
                <span class="sub_name">名下是否有车</span>
                <input type="" name="" placeholder="请选择" readonly v-model='user.car.name'>
                <i class="icon"></i>
            </div>
<!--             <article v-show="user.car.name == '是,有车'">
                <div id="triggerCar1">
                    <span class="sub_name">全款/按揭车</span>
                    <input type="" name="" readonly  placeholder="请选择" v-model='user.car.value1'>
                    <i class="icon"></i>
                </div>
                <div v-show="user.car.value1 == '按揭车'">
                    <span class="sub_name">月还款额度</span>
                    <input type="" name="" placeholder="请输入" v-model='user.car.value2'>
                    <span class="title">万元</span>
                </div>
                <div v-show="user.car.value1 == '按揭车'">
                    <span class="sub_name">已还期数</span>
                    <input type="" name="" placeholder="请输入" v-model='user.car.value3'>
                    <span class="title">个月</span>
                </div>
            </article> -->
        </li>
        <li>
            <i class="count">7</i>
            <div id="trigger6">
                <span class="sub_name">是否有信用卡</span>
                <input type="" name="" readonly placeholder="请选择" v-model='user.credit.name'>
                <i class="icon"></i>
            </div>
        </li>
        <li>
            <i class="count">8</i>
            <div id="trigger7">
                <span class="sub_name">是否有商业保险</span>
                <input type="" name="" placeholder="请选择" readonly v-model='user.commercial.name'>
                <i class="icon"></i>
            </div>
        </li>
        <li>
            <i class="count">9</i>
            <div id="trigger8">
                <span class="sub_name">信用状况</span>
                <input type="" name=""  placeholder="请选择" readonly v-model='user.creditStatus.name'>
                <i class="icon"></i>
            </div>
        </li>
    </ul>
    <div class="next_btn" @click="nextStep">
        下一步
    </div>
</div>





<script type="text/javascript"  src="/dist/apply2.js?v=1111111111111"></script>
</body>
</html>