<html>
<head>
    <meta charset="UTF-8">
    <title>补充信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
    <link rel="stylesheet" type="text/css" href="/static/style/apply2.css">

</head>
<body>

<div class="container apply2 apply2_next" v-cloak>
    <ul>
        <div class="line"></div>
        <li>
            <article v-show="user.house.name == '商品住宅' || user.house.name == '商铺' || user.house.name == '商住两用房'">
                <div id="triggerHouse2">
                    <span class="sub_name">全款房/按揭房</span>
                    <input type="" name="" placeholder="请选择" readonly v-model='user.house.value3'>
                    <i class="icon"></i>
                </div>

                <div v-show="user.house.value3 == '按揭房'">
                    <span class="sub_name">按揭房月还款额度</span>
                    <input type="" name="" placeholder="请输入" v-model='user.house.value4'>
                    <span class="title">万元</span>
                </div>
                <div v-show="user.house.value3 == '按揭房'">
                    <span class="sub_name">按揭房已还期数</span>
                    <input type="" name=""  placeholder="请输入" v-model='user.house.value5'>
                    <span class="title">个月</span>
                </div>
            </article>
        </li>
        <li v-show="user.provident.name == '是,有本地公积金'">
            <article v-show="user.provident.name == '是,有本地公积金'">
                <div >
                    <span class="sub_name">公积金连续缴存时间</span>
                    <input type="" name="" placeholder="请输入" v-model='user.provident.value1'>
                    <span class="title">个月</span>
                </div>
            </article>
        </li>
        <li v-show="user.social.name == '是,有本地社保'">
            <article v-show="user.social.name == '是,有本地社保'">
                <div >
                    <span class="sub_name">社保连续缴存时间</span>
                    <input type="" name="" placeholder="请输入" v-model='user.social.value1'>
                    <span class="title">个月</span>
                </div>
            </article>
        </li>
        <li v-show="user.car.name == '是,有车'">
            <article v-show="user.car.name == '是,有车'">
                <div id="triggerCar1">
                    <span class="sub_name">全款车/按揭车</span>
                    <input type="" name="" readonly  placeholder="请选择" v-model='user.car.value1'>
                    <i class="icon"></i>
                </div>
                <div v-show="user.car.value1 == '按揭车'">
                    <span class="sub_name">按揭车月还款额度</span>
                    <input type="" name="" placeholder="请输入" v-model='user.car.value2'>
                    <span class="title">万元</span>
                </div>
                <div v-show="user.car.value1 == '按揭车'">
                    <span class="sub_name">按揭车已还期数</span>
                    <input type="" name="" placeholder="请输入" v-model='user.car.value3'>
                    <span class="title">个月</span>
                </div>
            </article>
        </li>
        <li v-show="user.credit.name == '是,有信用卡'">
            <article v-show="user.credit.name == '是,有信用卡'">
                <div>
                    <span class="sub_name">信用卡总额度</span>
                    <input type="" name="" placeholder="请输入" v-model='user.credit.value1'>
                    <span class="title">万元</span>
                </div>
            </article>
        </li>
        <li v-show="user.commercial.name == '是,有商业保险'">
            <article v-show="user.commercial.name == '是,有商业保险'">
                <div>
                    <span class="sub_name">商业保险年缴费</span>
                    <input type="" name="" placeholder="请输入" v-model='user.commercial.value1'>
                    <span class="title">万元</span>
                </div>
                <div>
                    <span class="sub_name">商业保险连续缴费</span>
                    <input type="" name="" placeholder="请输入" v-model='user.commercial.value2'>
                    <span class="title">个月</span>
                </div>
            </article>
        </li>
        
    </ul>
    <div class="next_btn" @click="nextStep">
        提交
    </div>
</div>


<script type="text/javascript"  src="/dist/apply_next.js?v=1111111111111"></script>
</body>
</html>