<html>
<head>
    <meta charset="UTF-8">
    <title>佣金明细</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
    <link rel="stylesheet" type="text/css" href="/static/style/commission.css">
</head>
<body>

<div class="container commission" v-cloak>
  <div class="commission_banner clear_fix">
      <div>
        <span>可用佣金</span>
        <em>￥{{commission.balance}}</em>
      </div>
      <div>
        <span>历史佣金</span>
        <em>￥{{commission.amount}}</em>
      </div>
  </div>
  <p class="commission_title">流水：(只展示最近50条)</p>
  <div class="commission_list">

   <p class="no_record" v-if="commission.nobooks == 0">您的账户还没有流水记录</p>
   <ul v-else>
     <li v-for="item in commission.nobooks">
        <span class="title">{{item.drcr == 'D' ? "佣金" : "提现"}}</span>
        <span class="change plus" v-if="item.drcr == 'D'">+{{item.amount}}</span>
        <span class="change minus" v-else>-{{item.amount}}</span>

        <span class="time">{{new Date(item.txnDate).pattern('MM/dd HH:mm:ss') }}</span>
     </li>
   </ul>
  </div>

  <span class="register_btn" v-on:click="redirectWithdraw">申请提现</span>
</div>

<script type="text/javascript"  src="/dist/commission.js?v=1111111111111"></script>
</body>
</html>