<html>
<head>
    <meta charset="UTF-8">
    <title>快速匹配</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
    <link rel="stylesheet" type="text/css" href="/static/style/fast_search.css">
    
</head>
<body>

<div class="container fast_search" v-cloak>
    <div class="search_keyword">
        <div class="clear_fix">
            <span class="keyword_title">关键词搜索</span>   
            <div class="keyword_input">
                <input placeholder="信用贷款" v-model="keyword"/>  
                <span class="search_btn" @click="keywordSearch()">搜索</span>    
            </div>
        </div>
        <p class="keyword_prompt">关键词提示：</p>
        <ul class="keyword_example">
            <li class="clear_fix">
                <span>"信用贷款"</span>
                <span>"房产抵押贷款"</span>
                <span>"汽车抵押贷款"</span>
            </li>
            <li class="clear_fix">
                <span>"装修贷款"</span>
                <span>"消费贷款"</span>
                <span>"应收账款融资"</span>
            </li>
        </ul>
    </div>
    <div class="search_params">
        <div class="search_price clear_fix">
            <span class="price_title">贷款金额</span>
            <div class="keyword_input">
                <input placeholder="信用贷款" v-model="temparams.amount"/>  
                <span class="search_btn">万</span>   
            </div>
        </div>
        <dl>
            <dt>贷款期限</dt>
            <dd class="clear_fix">
                <label v-for="data in temparams.terms">
                    <input type="checkbox" :value="data.value" v-model="paramsTerms">
                    <span class="button">{{data.text}}</span>
                </label>
            </dd>
            <dt>还款方式</dt>
            <dd class="clear_fix">
                <label v-for="data in temparams.refunds" @change="selectRefund(data.value)">
                    <input type="checkbox" :value="data.value" name="refund" v-model="paramsRefunds">
                    <span class="button">{{data.text}}</span>
                </label>
            </dd>
            <dt>机构类型</dt>
            <dd class="clear_fix">
                <label v-for="data in temparams.institutions" @change="selectInstitutions(data.value)">
                    <input type="checkbox" :value="data.value" v-model="paramsInstitutions">
                    <span class="button">{{data.text}}</span>
                </label>
            </dd>
        </dl>
    </div>
    <div class="foot_btn">
        <span class="reset" @click="resetParams()">重置</span>
        <span class="search" @click="paramsSearch()">匹配</span>
    </div>
</div>


<script type="text/javascript"  src="/dist/fastSearch.js?v=77566465546"></script>
</body>
</html>