<html>
<head>
    <meta charset="UTF-8">
    <title>长天金融超市</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
    <link rel="stylesheet" type="text/css" href="/static/style/index.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/style/search_list.css"> -->
    
</head>
<body>

<div class="container index" v-cloak>
  <section class="slider_wrap touch_slider" style="-webkit-transform-style: preserve-3d;">
      <ul class="slider_inner">
          <li class="slider_item" v-for="swiper in swiperArray">
              <a :href="swiper.url ? swiper.url : 'javascript:void(0)'">
                  <img :src="swiper.image">
                 <!--  <img src="http://i1.ucaiyuan.com/h5_activity/201701zhekouji/h5zhekouji.jpg?uwidth=750&uheight=428"> -->
              </a>
          </li>
      </ul>
      <div class="dots">
          <span v-for="swiper in swiperArray"></span>
      </div>
  </section>

  <section class="line"></section>

  <section class="first_module clear_fix">
      <div class="left">
        <a :href="images1[0].url ? images1[0].url : 'javascript:void(0)'" v-if="images1[0]"><img :src="images1[0].image"></a>
      </div>
      <div class="right">
        <div class="top">
         <a :href="images2[0].url ? images2[0].url : 'javascript:void(0)'" v-if="images2[0]"><img :src="images2[0].image"></a>
        </div>
        <div class="bottom">
       <a class="bottom_left" :href="images3[0].url ? images3[0].url : 'javascript:void(0)'" v-if="images3[0]"><img :src="images3[0].image"></a>
        <a class="bottom_right" :href="images4[0].url ? images4[0].url : 'javascript:void(0)'" v-if="images4[0]"><img :src="images4[0].image"></a>
        </div>
      </div>
  </section>


  <section class="second_module">
    <div class="clear_fix">
      <a class="bottom_left" :href="images5[0].url ? images5[0].url : 'javascript:void(0)'" v-if="images5[0]"><img :src="images5[0].image"></a>
      <a class="bottom_left" :href="images6[0].url ? images6[0].url : 'javascript:void(0)'" v-if="images6[0]"><img :src="images6[0].image"></a>
    </div>
  </section>

  <section class="third_module" v-if="scrollToolsImage.icons && scrollToolsImage.icons.length">
    <div class="clear_fix">
      <a class="bottom_left" :href="image.url" v-for="image in scrollToolsImage.icons">
        <img :src="image.image1">
      </a>
    </div> 
  </section>

  <section class="line"></section>
  
  <section class="account_manager" v-if="agents.length">
    <ul class="clear_fix">
      <li v-for="agent in agents">
        <a :href="'tel:'+agent.mobile">
        <div class="manager clear_fix">
          <img :src="agent.image">
          <div>
            <h4><span>{{agent.name}}</span> {{agent.mobile}}</h4>
            <span>贷款额度：<i>{{agent.amount}}</i>万</span>
            <span class="manager_type">{{agent.excel}}</span>
          </div>
        </div>
        </a>
      </li>
    </ul>

  </section>
  <section>
    <img :src="centerImage[0].image" v-if="centerImage[0]" style="width: 100%">
  </section>
  <section class="news">
      <h3><span>新闻资讯</span></h3>
      <div class="nav clear_fix">
        <span @click="getNewDate('1')" :class="{current : selectThis}">金融视点</span>
        <span @click="getNewDate('2')" :class="{current : !selectThis}">长天资讯</span>
      </div>
      <div>
          <ul class="new_list">
            <li v-for="article in newsList"><a href="">{{article.title}}</a></li>
            <li @click="nextPage()" class="last" v-if="isHasMore">点击查看更多</li>
            <li class="last" v-else="isHasMore">没有更多数据</li>
          </ul>
      </div>

  </section>
  <section class="footer">
    咨询热线：4008-525-987&nbsp;&nbsp;&nbsp;&nbsp;服务时间：09：00 ~ 20：00
  </section>
</div>

<script type="text/javascript"  src="/dist/index.js?v=77566465546"></script>
</body>
</html>