<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
    <link rel="stylesheet" type="text/css" href="/static/style/index.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/style/search_list.css"> -->
    
</head>
<body>

<div class="container index">
  <section class="slider_wrap touch_slider" style="-webkit-transform-style: preserve-3d;">
      <ul class="slider_inner">
          <li class="slider_item" v-for="swiper in swiperArray">
              <a :href="swiper.url ? swiper.url : 'javascript:void(0)'">
                  <img :src="swiper.image">
                 <!--  <img src="http://i1.ucaiyuan.com/h5_activity/201701zhekouji/h5zhekouji.jpg?uwidth=750&uheight=428"> -->
              </a>
          </li>
      </ul>
      <div class="dots">
          <span v-for="swiper in swiperArray"></span>
      </div>
  </section>
</div>

<script type="text/javascript"  src="/dist/index.js?v=645645645"></script>
</body>
</html>