<html>
<head>
    <meta charset="UTF-8">
    <title>个人贷款申请表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
    <link rel="stylesheet" type="text/css" href="/static/style/apply_form.css">
</head>
<body>
<div class="container apply_form" v-cloak>
    <h2>个人贷款在线申请</h2>
    <section class="clear_fix apply" >
        <dl>
            <dt>1. 称呼<i>*</i></dt>
            <dd class="clear_fix">
                <p class="demo">例：X先生 / X女士</p>
                <input type="text" v-model="params.name" />
            </dd>
            <dt>2. 预融资额度（万元为单位）<i>*</i></dt>
            <dd class="clear_fix">
                <input type="number" v-model="params.amount" />
            </dd>
            <dt>3. 贷款用途<i>*</i></dt>
            <dd class="clear_fix">
                <label class="db" v-for="usage in configParams.usage">
                    <input type="radio" name="usage" :value="usage.value" v-model="params.usage"/>
                    <i></i>
                    {{usage.text}}
                </label>
            </dd>
            <dt>4. 固定资产情况（可多选）<i>*</i></dt>
            <dd class="clear_fix">
                <label class="w25" v-for="fixed_assets in configParams.fixed_assets">
                    <input type="checkbox" name="fixed_assets" :value="fixed_assets.value" v-model="params.assets"/>
                    <i></i>
                    {{fixed_assets.text}}
                </label>
            </dd>
            <dt>5. 身份<i>*</i></dt>
            <dd class="clear_fix"> 
                <label class="db" v-for="identity in configParams.identity">
                    <input type="radio" name="identity" :value="identity.value" v-model="params.identity"/>
                    <i></i>
                    {{identity.text}}
                </label>
            </dd>
            <dt>6. 具体情况<i>*</i></dt>
            <dd class="clear_fix">
                <div class="yesorno_model">
                    <h3>是否有打卡工资</h3>
                    <div v-for="yesorno in configParams.yesorno">
                        <label>
                        <input type="radio" name="yesorno1" :value="yesorno.value" v-model="params.salary">
                        <i></i>
                        {{yesorno.text}}
                        </label>
                    </div>
                </div>

                <div class="yesorno_model">
                    <h3>是否有打卡工资</h3>
                    <div v-for="yesorno in configParams.yesorno">
                        <label>
                        <input type="radio" name="yesorno2" :value="yesorno.value" v-model="params.social">
                        <i></i>
                        {{yesorno.text}}
                        </label>
                    </div>
                </div>

                <div class="yesorno_model">
                    <h3>是否有打卡工资</h3>
                    <div v-for="yesorno in configParams.yesorno">
                        <label>
                        <input type="radio" name="yesorno3" :value="yesorno.value" v-model="params.accu">
                        <i></i>
                        {{yesorno.text}}
                        </label>
                    </div>
                </div>
            </dd>
            <dt>7. 月收入(元为单位）<i>*</i></dt>
            <dd class="clear_fix">
                <input type="text" v-model="params.monthly" />
            </dd>
            <dt>8. 征信情况 <i>*</i></dt>
            <dd class="clear_fix">
                <select class="select_option" v-model="temCredit_registries">
                    <option v-for="option in configParams.credit_registries" :value="option.value">{{ option.text }}</option>
                </select>
                <div class="analog_input">{{params.credit | creditRegistriesValue}}</div>
            </dd>
            <dt>9. 期望融资办理时间<i>*</i></dt>
            <dd class="clear_fix">
                <select class="select_option" v-model="temExpected">
                    <option v-for="option in configParams.expected" :value="option.value">{{ option.text }}</option>
                </select>
                <div class="analog_input">{{params.expected | expectedValue}}</div>
            </dd>
            <dt>10. 联系方式<i>*</i></dt>
            <dd class="clear_fix">
                 <input type="number" placeholder="请输入手机号码" v-model="params.mobile" />
            </dd>
        </dl>
    </section>

    <span class="apply_btn" @click="applyBtn()">申请</span>
</div>
<script type="text/javascript"  src="/dist/personApply.js"></script>
</body>
</html>