<html>
<head>
    <meta charset="UTF-8">
    <title>产品详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
    <link rel="stylesheet" type="text/css" href="/static/style/product.css">
</head>
<body>
<div class="container product" v-cloak>
    <section class="product_title clear_fix">
        <div class="product_img">
            <img :src="productDetail.icon">
        </div>
        <div class="product_name">
            <h2>{{productDetail.name}} <span>{{productDetail.type | loanValue}}</span></h2>
            <p class="grey_color">月息：{{productDetail.interest}}% / {{productDetail.lendingDate}}天放款</p>
        </div>
    </section>
    <section class="product_content">
        <div class="input_model clear_fix">
            <div class="amount">
                金额
                <div class="input"><input v-model="selectParams.amount"  @change="changeAmount()"/><span>万</span></div>
                <p class="grey_color">额度范围 {{productDetail.minAmount}}万-{{productDetail.maxAmount}}万</p>
            </div>
            <div class="time">
                期限
                <div class="input">
                    <span class="term">{{selectParams.term}}个月</span>
                    <select v-model="term" >
                        <option v-for="n in productDetail.maxTerm" v-if="n >= productDetail.minTerm">{{n}}</option>
                    </select>
                </div>
                <p class="grey_color">期限范围：{{productDetail.minTerm}}-{{productDetail.maxTerm}}个月</p>
            </div>
        </div>
        <div class="price_progress">
            <div class="progress">
                <span class="daikuan"></span>
                <div>
                    <span class="lixi" :style="{width: widthCalculateInterest + '%'}"></span>
                    <span class="feiyong" :style="{width: widthCalculateFee + '%'}"></span>
                </div>
            </div>
            <ul class="progress_title clear_fix">
                <li class="grey_color">总利息&nbsp;&nbsp;{{interest.interest | toFixed}}元</li>
                <li class="grey_color">贷款&nbsp;&nbsp;{{selectParams.amount*10000 | moneyFormat}}/{{selectParams.term}}个月</li>
                
                <li class="grey_color">月供&nbsp;&nbsp;{{interest.monthly | toFixed}}元</li>
                <li class="grey_color">一次性费用&nbsp;&nbsp;{{interest.fee | toFixed}}元</li>
            </ul>
        </div>
        <div>
            <h3>利率说明</h3>
            <table class="table1 grey_color">
                <thead>
                    <tr>
                        <th>贷款期限（月）</th>
                        <th>还款方式</th>
                        <th>一次性手续费</th>
                        <th>月手续费率</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in productDetail.interests">
                        <td v-if="item.minTerm == item.maxTerm">
                            {{item.minTerm}}
                        </td>
                        <td v-else>
                            {{item.minTerm}} ~ {{item.maxTerm}}
                        </td>
                        <td>{{item.refundType | refundsValue}}</td>
                        <td>{{item.fee}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <h3>提前还款</h3>
            <p class="text grey_color">可提前还款，没有违约金。</p>

            <h3>几种费用有什么区别</h3>
            <p class="text grey_color" style="line-height:.16rem;">
                等额本息：按贷款金额计算，不随剩余本金变化而减少；<br/>
                等额本金：按剩余本金计算，随每月剩余本金变化而减少；<br/>
                一次性：按贷款金额计算，在放款时一次性先收取；<br/>
                先息后本：贷款本金到期一次性偿还，每月支付利息；
                <!-- 利息：按剩余本金计算，随每月剩余本金变少减少；<br/>
                费用：按贷款金额计算，不随剩余本金变化而减少；<br/>
                一次性：按贷款全额计算，再放宽时一次性收取；<br/>
                举例：贷款1万  12个月  分期还款<br/>
                1%月利息（共600元），1%月费用（共1200），1%一次性<br/>
                （共100元），总利息共计1900元。<br/> -->
            </p>
        </div>
    </section>
    <section class="product_model product_flow">
        <h3>办理流程（门店办理）</h3>
        <img src="./static/images/product_flow.jpg">
    </section>
    <section class="product_model product_condition">
        <h3>申请条件</h3>
        <div v-html="parserRequirements" class="grey_color" style="line-height:.16rem;">
        </div>
    </section>
    <section class="product_model">
        <h3>所需材料</h3>
        <div v-html="parserMaterials" class="grey_color" style="line-height:.16rem;"> 
        </div>
    </section>

    <section class="prodcut_footer">

        <span class="collect has_favorite" @click="cancelCollectBtn()" v-if="productDetail.favorite">
            <i></i>
            已收藏
        </span>
        <span class="collect" @click="collectBtn()" v-else="productDetail.favorite">
            <i></i>
            收藏
        </span>

        <a href="/register.html" class="apply">
            立即申请
        </span>

    </section>
</div>
<script type="text/javascript"  src="/dist/product.js?v=1484884841222"></script>
</body>
</html>