<html>
<head>
    <meta charset="UTF-8">
    <title>搜索结果</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
    <link rel="stylesheet" type="text/css" href="/static/style/search_result.css">
    
</head>
<body>

<div class="container search_result" v-cloak>
    <section class="search_bar">
      <div class="bar">
          <input v-model="keyword" @keyup.enter="onEnter">
      </div>
    </section>
    <section class="search_list">
        <div class="search_total">共有{{productlistDetail.totalSize}}个结果
          <span class="search_icon" @click="showSearch()">筛选</span>
          <div class="search_module">
              <div class="search_mask" @click="closeSearch()"></div>
              <div class="search_rule">
                <p>筛选条件： <i @click="resetParams()">全部清除</i></p>
                <ul>
                  <li>
                      <dt @click="toggle">资产贷款</dt>
                      <dd class="clear_fix">
                          <label v-for="data in temparams.assets" @change="selectAssets(data.value)">
                              <input type="checkbox" :value="data.value" v-model="paramsAssets">
                              <i></i>
                              <span class="button">{{data.text}}</span>
                          </label>
                      </dd>
                  </li>
                  <li>
                      <dt @click="toggle">信用贷款</dt>
                      <dd class="clear_fix">
                          <label v-for="data in temparams.credits" @change="selectCredits()">
                              <input type="checkbox" :value="data.value" v-model="paramsCredits">
                              <i></i>
                              <span class="button">{{data.text}}</span>
                          </label>
                      </dd>
                  </li>
                  <li>
                    <dt @click="toggle">还款方式</dt>
                    <dd class="clear_fix">
                        <label v-for="data in temparams.refunds" @change="selectRefund(data.value)">
                            <input type="checkbox" :value="data.value" name="refund" v-model="paramsRefunds">
                            <i></i>
                            <span class="button">{{data.text}}</span>
                        </label>
                    </dd>
                  </li>
                  <li>
                    <dt @click="toggle">机构类型</dt>
                    <dd class="clear_fix">
                        <label v-for="data in temparams.institutions" @change="selectInstitutions(data.value)">
                            <input type="checkbox" :value="data.value" v-model="paramsInstitutions">
                            <i></i>
                            <span class="button">{{data.text}}</span>
                        </label>
                    </dd>
                  </li>
                  <li>
                      <dt @click="toggle">贷款期限</dt>
                      <dd class="clear_fix">
                          <label v-for="data in temparams.terms" @change="selectTerms(data.value)">
                              <input type="checkbox" :value="data.value" v-model="paramsTerms">
                              <i></i>
                              <span class="button">{{data.text}}</span>
                          </label>
                      </dd>
                  </li>
                </ul>
              </div>
          </div>
        </div>
        <div class="product_list">
            <ul>
                <li class="clear_fix" v-for="product in productlist">
                    <a :href="'/product.html?id='+product.id">
                        <div class="product_img">
                            <img :src="product.logo">
                        </div>
                        <div class="product_module">
                            <h2>
                                <span class="title_model">
                                    {{product.name}}
                                </span>
                                <span class="link">
                                    <i>{{product.type | loanValue}}</i>
                                    <span>展开全文</span>
                                </span>
                            </h2>
                            <div>额度：{{product.minAmount}}万-{{product.maxAmount}}万</div>
                            <div>月息：<span style="color:#536aba">{{product.interest}}%</span></div>
                            <div>还款方式：{{ product.refundType | refundsValue}}</div>
                            <div>放款速度：{{product.lendingDate}}天</div>
                        </div>
                    </a>
                </li>
                <span v-if="btn.showMore"  class="load_more">加载中...</span>
            </ul>
            
        </div>

        <a class="bind_icon" href="/bind.html">
            注册<br>
            代理商
        </a>

        <a class="collect_icon" href="/collectList.html">
            <i></i>
            收藏
        </a>

        <a class="register_icon" href="/register.html">
            <i></i>
            客服
        </a>


        <div class="fast_search global_action_sheet search_actionsheet">
            <div class="search_keyword">
                <div class="clear_fix">
                    <span class="keyword_title">关键词搜索</span>   
                    <div class="keyword_input">
                        <input placeholder="信用贷款" v-model="keyword"/>  
                        <span class="search_btn" @click="keywordSearch()">搜索</span>    
                    </div>
                </div>
                <p class="keyword_prompt">关键词提示：</p>
                <ul class="keyword_example">
                    <li class="clear_fix">
                        <span>"信用"</span>
                        <span>"房产抵押"</span>
                        <span>"汽车抵押"</span>
                    </li>
                    <li class="clear_fix">
                        <span>"装修"</span>
                        <span>"设备融资"</span>
                        <span>"应收账款"</span>
                    </li>
                </ul>
            </div>
            <div class="search_params">
                <div class="search_price clear_fix">
                    <span class="price_title">贷款金额</span>
                    <div class="keyword_input">
                        <input placeholder="信用贷款" v-model="temparams.amount"/>  
                        <span class="search_btn">万</span>   
                    </div>
                </div>
                <dl>
                    <dt>贷款期限</dt>
                    <dd class="clear_fix">
                        <label v-for="data in temparams.terms">
                            <input type="checkbox" :value="data.value" v-model="paramsTerms">
                            <span class="button">{{data.text}}</span>
                        </label>
                    </dd>
                    <dt>还款方式</dt>
                    <dd class="clear_fix">
                        <label v-for="data in temparams.refunds" @change="selectRefund(data.value)">
                            <input type="checkbox" :value="data.value" name="refund" v-model="paramsRefunds">
                            <span class="button">{{data.text}}</span>
                        </label>
                    </dd>
                    <dt>机构类型</dt>
                    <dd class="clear_fix">
                        <label v-for="data in temparams.institutions" @change="selectInstitutions(data.value)">
                            <input type="checkbox" :value="data.value" v-model="paramsInstitutions">
                            <span class="button">{{data.text}}</span>
                        </label>
                    </dd>
                </dl>
            </div>
            <div class="foot_btn">
                <span class="reset" @click="resetParams()">重置</span>
                <span class="search" @click="paramsSearch()">匹配</span>
            </div>
        </div>
    </section>

    <foot-bar></foot-bar>
</div>

<script type="text/javascript"  src="/dist/searchResult.js?v=1111111111111"></script>
</body>
</html>